/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%; /* 横幅100% */
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading {
  /*headerタグ内のheadingクラスのみ反映される */
  font-size: 32;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px; /* 横幅800px */
  margin: 50px auto;
  display: flex; /* flexboxの利用 */
  flex-wrap: wrap;
}

.zukei1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.zukei2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.zukei3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.zukei4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.zukei5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.zukei6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.zukei7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.zukei8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.zukei9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.zukei10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.zukei11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.zukei12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%; /* 横幅 */
  height: 120px; /* 高さ */
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
